{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Django Bootstrap Template"/>
        <meta name="keywords" content="Django, Bootstrap"/>
        <meta name="author" content="Bradley Marques"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
            {% block title %}
                A Meaningful Page Title
            {% endblock title %}
        </title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% block head_css %}
        {% endblock head_css %}
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'images/favicon.ico' %}"/>
    </head>
    <body {% block body_classes %}{% endblock body_classes %}>
        {% bootstrap_messages %}
        {% block body %}
            The default body
        {% endblock body %}
    </body>
</html>
